<!doctype html>
<html lang="PT-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <title>PesquisaCep</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
  </head>
  <body>

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="css/Pack.png" alt="" width="30" height="24" class="d-inline-block align-top">
        </a>
        <h4>PesquisaCEP</h4>
      </div>
    </nav>

    <div class="container-fluid col-8" style="height: 230px;">

     <center>
      <div class="col-8" style="margin-top: 70px;"> 

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel">
          <div class="carousel-item active">
            
            <div class="card">
              <h5 class="card-header">Pesquisa CEP</h5>
              <div class="card-body">
                <h5 class="card-title">O que é ?</h5>
                <p class="card-text">Site desenvolvido para uma busca rápida e simples de entedeço atravéz do código do CEP</p>
              </div>
            </div>

          </div>
          <div class="carousel-item">
           
            <div class="card">
              <h5 class="card-header">Pesquisa CEP</h5>
              <div class="card-body">
                <h5 class="card-title">Como funciona</h5>
                <p class="card-text">Para pesquisar basta digitar o código do cep no campo a seguir</p>
              </div>
            </div>

          </div>
          <div class="carousel-item" data-bs-interval="15000">
           
           <div class="card">
             <h5 class="card-header">Pesquisa CEP</h5>
              <div class="card-body"> 
                <h5 class="card-title">Digite abaixo o código do cep</h5>
                 <form action="Cep" method="POST"> 
                   <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder="Digite o Cep" name="CEP" style="margin-top: 15px;" />
                   </div>
                    <div class="col-2">
                     <button type="submit" class="btn btn-light" name="op" value="busc">
                      Buscar
                     </button>
                    </div>
              </div>
            </div>
                 </form>
          </div>   
        </div>
      </div>
    </div>
    </div>

      <div class="container-fluid col-12" style="height: 268px;">
       <% if(typeof result =="") { %>
        <h1>NADA</h1>
       <% }else if (typeof result !=="") { %>  
        <center>
          <div class="card col-5">
           <h5 class="card-header"> <%= mensagem %></h5> 
            <div class="card-body"> 
               <p class="card-text"><%= result.logradouro %></p>
                <p class="card-text"><%= result.bairro %></p>
                  <p class="card-text"><%= result.localidade %></p>
                    <p class="card-text"><%= result.uf %></p>
         </center> 
       <% } %> 
                     
        </div>
       </div>
      </div>  

      <footer id="idcard">
        <footer id="idheader">
          Teste de habilidade de desenvolvimento
        </footer>
        <footer id="idcard" style="height: 107px">
          <blockquote class="blockquote mb-0">
            <br><p>Front-End Simples</p>
            <footer class="blockquote-footer">Desenvolvido por <cite title="Source Title">Diogo Godoi</cite></footer>
          </blockquote>
        </footer>
      </footer>
      
       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>